{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- Page Wrapper -->
<div class="page-wrapper">
			
    <!-- Page Content -->
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Visitor</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Visitors</li>
                    </ul>
                </div>
                <div class="col-auto float-right ml-auto">
                    <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_holiday"><i class="fa fa-plus"></i> Add Visitor</a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Visitors</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>NO</th>
                                        <th>Name</th>
                                        <th>Phone number</th>
                                        <th>Flat no</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in visitor %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{i.name}}</td>
                                        <td>{{i.phone_number}}</td>
                                        <td>{{i.flat_no}}</td>
                                        <td>{{i.date}}</td>
                                        <td>{{i.time}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->
    
    <!-- Add Holiday Modal -->
    <div class="modal custom-modal fade" id="add_holiday" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Visitor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action={% url 'add_visitor' %} method='POST'>
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" name='name' type="text" placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <label>Phone No</label>
                            <input class="form-control" name='phonenumber' type="text" placeholder="Enter Mobile No">
                        </div>
                        <div class="form-group">
                            <label>Flat No</label>
                            <input class="form-control" name='flatno' type="text" placeholder="Enter Flat No">
                        </div>
                        {% comment %} <div class="form-group">
                            <label>Date</label>
                            <input class="form-control" name='date' type="Date" >
                        </div>
                        <div class="form-group">
                            <label>Time</label>
                            <input class="form-control" name='time' type="Time" >
                        </div> {% endcomment %}
                        <div class="submit-section">
                            <input class="btn btn-primary submit-btn" type='submit'>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Holiday Modal -->
</div>
<!-- /Page Wrapper -->

{% endblock %}