{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Smarthr - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>Login - Digital Society</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets\img\favicon.png' %}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'assets\css\bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'assets\css\font-awesome.min.css' %}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'assets\css\style.css' %}">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
			<script src="{% static 'assets/js/respond.min.js' %}"></script>
		<![endif]-->
    </head>
    <body class="account-page">
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
			<div class="account-content">
				<div class="container">
				
					<!-- Account Logo -->
					<div class="account-logo">
						<h1>Forgot Password</h1>
					</div>
					<!-- /Account Logo -->
					
					<div class="account-box">
						<div class="account-wrapper">
							<h3 class="account-title"></h3>
							{% if msg %}
							<div class="alert alert-danger" role="alert">
								{{msg}}
							</div>
							{% endif %}
							<!-- Account Form -->
							<form action="{% url 'forgotpassword' %}" method='POST'>
								{% csrf_token %}
								{% comment %} <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Role</label>
                                    <div class="col-lg-9">
                                        <select class="select" name='role' type='text'>
                                            <option>Select Role</option>
                                            <option value="chairman">Chairman</option>
                                            <option value="watchman">Watchman</option>
                                            <option value="member">Member</option>
                                        </select>
                                    </div>
                                </div> {% endcomment %}
								<div class="form-group">
									<label>Email Address</label>
									<input class="form-control" type="text" name='email' >
								</div>
								<div class="form-group text-center">
									<input class="btn btn-primary account-btn" type="submit" value='submit' >
								</div>
							</form>
							<!-- /Account Form -->
							
						</div>
					</div>
				</div>
			</div>
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="{% static 'assets\js\jquery-3.2.1.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static 'assets\js\popper.min.js' %}"></script>
        <script src="{% static 'assets\js\bootstrap.min.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'assets\js\app.js' %}"></script>
		
    </body>
</html>