{% extends 'main.html' %}
{% load static %}
{% block content %}			
			<!-- Page Wrapper -->
<div class="page-wrapper">

	<!-- Page Content -->
	<div class="content container-fluid">
	
		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					
					<h3 class="page-title">Welcome {{user.first_name}}!</h3>
					{% comment %} <ul class="breadcrumb">
						<li class="breadcrumb-item active">Dashboard</li>
					</ul> {% endcomment %}
				</div>
			</div>
		</div>
		<!-- /Page Header -->
	
		<div class="row">
			<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
				<div class="card dash-widget">
					<a href="{% url 'alluser' %}">
					<div class="card-body">
						<span class="dash-widget-icon"><i class="fa fa-users"></i></span>
						<div class="dash-widget-info">
							<h3>{{usercount}}</h3>
							<span>users</span>
						</div>
					</div>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
				<div class="card dash-widget">
					<a href="{% url 'alluser' %}">
					<div class="card-body">
						<span class="dash-widget-icon"><i class="fa fa-users"></i></span>
						<div class="dash-widget-info">
							<h3>{{membercount}}</h3>
							<span>Members</span>
						</div>
					</div>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
				<div class="card dash-widget">
					<a href="{% url 'alluser' %}">
					<div class="card-body">
						<span class="dash-widget-icon"><i class="fa fa-user"></i></span>
						<div class="dash-widget-info">
							<h3>{{watchmancount}}</h3>
							<span>Watchman</span>
						</div>
					</div>
					</a>
				</div>
			</div>
		</div>
		
	</div>
	<!-- /Page Content -->

</div>
<!-- /Page Wrapper -->
{% endblock %}
        